.title{
	text-align: center;
	font-size: 30px;
	color: #000;
	font-family: "montserrat";
}

.touchless-delivery{
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: "montserrat";
}

.touchless-link{
	text-align: center;
	font-size: 20px;
	color: #000;
	font-family: "montserrat";
}